.App {
  color: white;
  text-align: center;
}

.container {
  width: 15rem;
  height: fit-content;
  max-height: 35rem;
  background-color: green;
}

.optionSegment {
  /*max-height: 5rem;*/
  background-color: aquamarine;
  height: fit-content;
}

.center {
  justify-content: center;
  align-items: center;
}

li.game {
  margin-top: 3px;
}

.list {
  list-style: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  max-height: 30rem;
}

.list::-webkit-scrollbar {
  display: none;
}